<?xml version="1.0"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <!--应用数据连接字符串-->
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\db_Examination_Data.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--本地数据库连接字符串-->
    <add name="Examination" connectionString="Data Source=DESKTOP-Q8V1523;Initial Catalog=Examination;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="master" connectionString="Data Source=DESKTOP-Q8V1523;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>